<main id="main" class="main">
  <div class="pagetitle">
    <h1>Cadastro</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pessoa">Cadastro</a></li>
        <li class="breadcrumb-item active">Pessoa</li>
      </ol>
    </nav>
  </div>
  <section class="section pessoa">
    <div class="row">
      <dx-data-grid id="gridContainer" [dataSource]="Pessoas" keyExpr="id" [showBorders]="true">
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxi-column type="buttons" [width]="110">
          <dxi-button
            hint="Clone"
            keyExpr="id"
            icon="copy"
            [onClick]="click"
          ></dxi-button>
          <dxi-button
          hint="Clone"
          keyExpr="id"
          icon="add"
          [onClick]="details"></dxi-button>
        </dxi-column>
        <dxi-column dataField="id" caption="Title"></dxi-column>
        <dxi-column dataField="nome"></dxi-column>
        <dxi-column dataField="endereco"></dxi-column>
        <dxi-column dataField="altura"></dxi-column>
        <dxi-column dataField="peso"></dxi-column>
        <dxi-column dataField="imc"></dxi-column>
        <dxi-column dataField="idade"></dxi-column>
        <dxi-column dataField="ultimaColeta"></dxi-column>
        <dxo-toolbar>
          <dxi-item location="after">
            <div *dxTemplate>
              <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="GET" action="#"> <input type="text"
                    name="query" placeholder="Search" title="Enter search keyword"> <button type="submit"
                    title="Search"><i class="bi bi-search"></i></button></form>
              </div>
              <dx-button icon="add" (onClick)="showPopup($event)"> </dx-button>
            </div>
          </dxi-item>
        </dxo-toolbar>
      </dx-data-grid>
      <dx-popup [width]="1000" [height]="600" [showTitle]="true" title="Adição / Edição de Cadastro de Pessoa"
        [dragEnabled]="false" [hideOnOutsideClick]="true" [showCloseButton]="true" container=".dx-viewport"
        [(visible)]="popupVisible">
        <div *dxTemplate="let data of 'content'">
          <dx-scroll-view width="100%" height="100%">
            <form>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">

                  <dx-text-box [(value)]="pessoa.nome" [showClearButton]="true">

                  </dx-text-box>

                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Logradouro</label>
                <div class="col-sm-8">
                  <dx-text-box [(value)]="pessoa.logadouro" [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div class="col-sm-2">
                  <dx-text-box [(value)]="pessoa.numero" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Bairro</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.bairro" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Municipio</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.municipio" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.estado" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Cep</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.cep" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Data Nascimento</label>
                <div class="col-sm-4">
                  <dx-date-box type="date" [(value)]="pessoa.dataNascimento" displayFormat="dd/MM/yyyy"
                    [useMaskBehavior]="true" displayFormat="shortdate">
                  </dx-date-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-2">
                  <dx-text-box [(

                  value)]="pessoa.ddd" [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.telefone" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Indicacao</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.indicacao" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Profissao</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.profissao" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.email" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Contato de Emergencia</label>
                <div class="col-sm-4">
                  <dx-text-box [(value)]="pessoa.contatodeEmergencia" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Telefone Contato de Emergencia</label>
                <div class="col-sm-2">
                  <dx-text-box [(value)]="pessoa.dddContatodeEmergencia" [showClearButton]="true">
                  </dx-text-box>
                </div>
                <div class="col-sm-2">
                  <dx-text-box [(value)]="pessoa.telefoneContatodeEmergencia" [showClearButton]="true">
                  </dx-text-box>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Altura (CM)</label>
                <div class="col-sm-4">
                  <dx-number-box [(value)]="pessoa.altura" [showClearButton]="true" [showSpinButtons]="true" [min]="0"
                    [max]="300">
                  </dx-number-box>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-12">
                  <dx-button icon="save" type="success" text="Salvar" (onClick)="save()">
                  </dx-button>
                </div>
              </div>
            </form>
          </dx-scroll-view>
        </div>
      </dx-popup>
    </div>
  </section>
</main>
